/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]ssetPackage/
/[Hh]ybridCLRData/
/[Oo]ut/
/[Ll]ogs/

/Assets/AssetStoreTools*
/.vs/
/.idea/

*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.zip

/Assets/StreamingAssets/*
!/Assets/StreamingAssets/.gitkeep
/UnityPackageManager/*
